@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Red Hat Text", sans-serif;
  box-sizing: border-box;
  background-color: var(--Rose-100);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

:root {
  --Red: hsl(14, 86%, 42%);
  --Red-900: hsl(14, 85%, 30%);
  --Green: hsl(159, 69%, 38%);
  --Rose-50: hsl(20, 50%, 98%);
  --Rose-100: hsl(13, 31%, 94%);
  --Rose-300: hsl(14, 25%, 72%);
  --Rose-400: hsl(7, 20%, 60%);
  --Rose-500: hsl(12, 20%, 44%);
  --Rose-900: hsl(14, 65%, 9%);
}

/* ? Card Component Styles */

.App {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-inline: auto;
  gap: 30px;
  padding: 40px;
}
.container h1 {
  margin-bottom: 20px;
  font-size: clamp(1.5rem, 2vw, 3rem);
}
.clamp-h2-text {
  font-size: clamp(1.5rem, 2vw, 3rem);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.btn img {
  width: 20px;
  border: none;
}

.btn {
  background-color: var(--Rose-50);
  border: solid #000 1px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: auto;
  border-radius: 30px;
  position: relative;
  padding: 10px 20px;
  bottom: 20px;
  cursor: pointer;
  width: fit-content;
}

.btn:hover {
  border: solid var(--Red) 1px;
}

.btn-increment {
  background-color: var(--Red);
  justify-content: space-between;
  padding: 10px 5px;
  width: 150px;
  border: solid var(--Red) 1px;
}
.btn-increment:hover {
  border: solid var(--Red) 1px;
}

.btn-increment svg {
  width: 20px;
  border-radius: 50%;
  color: white;
}

.btn-increment div.btn-add {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid white 1px;
  border-radius: 30px;
  height: 20px;
}

.btn-increment div.btn-add:hover {
  background-color: white;
  /* color: var(--Red); */
}

.btn-increment div.btn-add svg:hover {
  color: var(--Red);
}

@media screen and (max-width: 950px) {
  .App {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-inline: auto;
    gap: 30px;
    padding: 20px;
  }
}
@media screen and (max-width: 670px) {
  .App {
    display: grid;
    grid-template-columns: 1fr;
    margin-inline: auto;
    gap: 30px;
    padding: 20px;
  }
}
